@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Teko:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
}

body, html {
	margin: 10px;
	padding: 0px;
}

body {
	background-color:#2b4a33;
	color: white;
	font-family: 'Racing Sans One', cursive;
}

.paragraph {
	font-family: 'Teko', sans-serif;
	font-size: 37px;
	line-height: 35px;
	text-align: center;
	margin: 30px;
}

.title {
	color: white;
	font-size: 260px;
	text-align: left;
	line-height: 165px;
	margin: 0px;
	margin-right: 500px;
	letter-spacing: -10px;
	background-color: #667a6b;
}


.float-container {
	padding: 20px;
}

.float-child-left {
	width: 63%;
	float: left;
	background-color: #667a6b;
	border-radius: 20px;
	padding: 30px;
}

.float-child-right {
	width: 36%;
	float: right;
	padding: 20px;
	opacity: 70%;
	border-radius: 10px;
}
